#container{    width: 960px;
    height: 800px;
    margin: 0 auto;
    background-image: url(../pic/HitHolonLogo.svg.png);
    background-repeat: no-repeat;}
h1{    font-size: 60pt;
    font-weight: bold;
    color: gray;
  
    margin-right: -500px;
    margin-left: -20px;
    text-align: right;
}

h2{    margin-right: 725px;
    margin-top: -49px;
    text-align: center;
    width: 200px;
     font-size:30pt;
     font-weight: bold;
     background-color:gainsboro ;
    padding: 10px;}
p{ margin-right: 725px;
    margin-top: 40px;
    text-align: center;
     width: 200px;
     padding: 10px;
      font-size: 16pt;
      color:dimgrey;
            font-weight: bold;
}
 h3{ background-color:gainsboro ;
                  text-align: center;
                  font-size:30pt;


}
 h4{text-align: center;
    font-size:20pt;
    color:dimgrey;

 }


 h5{    font-size: 24pt;
    color: cornflowerblue;
    font-weight: bold;
    text-align: center;
    padding: 15px;
    margin-bottom: 15px;}
 
label{     margin-top: 10px; 
           
          vertical-align: middle;
}
input{margin-bottom: 15px;
      vertical-align: middle;
}
select{    vertical-align: middle;}