body 
{
    direction:rtl;
}
body{background-image:url(../pic/mam.jpg)}
h1 {
    font-size:70pt;
    color: palevioletred;
    font-weight: bold;
    padding-bottom:100px;
}
   
h2 {font-size:20px;
   color:palevioletred;
   font-weight:bold;
   padding-right:14px;text-align: center;


}

 h3 {
    font-size: 20pt;
    color: palevioletred;
    font-weight: bold;
   text-align: center;
}
 p{padding-right: 14px;
  font-size:20px

}
a{padding-right: 14px;

 
}
 ul {
    list-style: upper-roman;
   
    margin-right:400px;

       

}
#container {
    width: 960px;
    margin: 0 auto;
    background-image: url(../pic/me.jpg);
    background-repeat: no-repeat;
    background-size: 266px;
    background-position-x: 12px;
    background-position-y: 556px;
}

#instagram:hover {
    display: inline-block;
    width: 510px;
    height: 70px;
    background-image: url("../pic/Instagram.png");
    background-size: contain;
    background-repeat: no-repeat;
}
     
           
 #instagram{ 
     display:inline-block;
     width:504px;
             height:60px;
             background-image:url("../pic/Instagram.png");
             background-size:contain;
             background-repeat:no-repeat;
 }          
 #job{ direction:rtl;
    border: 5px double black;
    background-image:url(../pic/pici.jpg); 
    background-repeat: no-repeat;
       width:960px;
    margin:0 auto;

    
}
h1{ font-size:24pt;
    color:palevioletred;
    text-align: center;
    font-weight: bold;



}
p{text-align: center;
  font-size: 14pt;

}
h2{font-weight: bold;
   font-size:18pt;
   text-align: center;
   color:palevioletred;
}
#odot{ direction:rtl;
    border: 5px double black;
    background-image:url(../pic/pici.jpg); 
    background-repeat: no-repeat;
       width:960px;
    margin:0 auto;

    
}
h1{ font-size:24pt;
    color:palevioletred;
    text-align: center;
    font-weight: bold;



}
p{text-align: center;
  font-size: 14pt;

}
h2{font-weight: bold;
   font-size:18pt;
   text-align: center;
   color:palevioletred;
}
#hobbi{ direction:rtl;
    border: 5px double black;
    background-image:url(../pic/pici.jpg); 
    background-repeat: no-repeat;
       width:960px;
    margin:0 auto;

    
}
h1{ font-size:24pt;
    color:palevioletred;
    text-align: center;
    font-weight: bold;



}
p{text-align: center;
  font-size: 14pt;

}
h2{font-weight: bold;
   font-size:18pt;
   text-align: center;
   color:palevioletred;
}
#highr{ direction:rtl;
    border: 5px double black;
    background-image:url(../pic/pici.jpg); 
    background-repeat: no-repeat;
       width:960px;
    margin:0 auto;

    
}
h1{ font-size:24pt;
    color:palevioletred;
    text-align: center;
    font-weight: bold;



}
p{text-align: center;
  font-size: 14pt;

}
h2{font-weight: bold;
   font-size:18pt;
   text-align: center;
   color:palevioletred;
}
#ofki ul li a
    {
display: block;
background-color: black;
color: white;
width: 100px;
height: 30px;
padding-top: 10px;
text-decoration: none;
text-align: center;
}

#ofki ul li a:hover
{
background-color: palevioletred;
}
#ofki li a:active
{
background-color: dodgerblue;
}


#ofki{ 
    list-style:none;
}

#ofki ul li
{
display:inline-block;
float:left;       
}

#ofki ul li ul 
{
    display:none;
    position:absolute;
}

#ofki ul li:hover ul  {
    display:block;
    width:120px;
}

}